@import url(https://fonts.googleapis.com/css?family=Revalia:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);


/* header */
.header{
    background: #EEEFF1;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.wd{
    width: 96px;
    height: 60px;
    color: #34547A;
    text-align: center;
    font-family: Revalia;
    font-size: 48px;
    font-weight: 400;
}
.navbar-menu{
    display: flex;
    column-gap: 42px;
    align-items: center;
    white-space: nowrap;
}
.navbar-menu a{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.6px;
}

.navbar-menu a:hover{
    color:#34547A;
}
/* ----------------- */

/* main */
.main-wrapper{
    background-color: #EEEFF1;
}
.main{
    display: flex;
    justify-content: space-evenly;
    padding: 70px 0 120px 0;
}
.main img{
    display: block;
    align-self: center;
    width: 328.402px;
    height: 225.4px;
}
.main-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 35px;
    line-height: 1.5;
}
.main-right h1{
    color: #000;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 500;
}
.main-right__p, .reused-p{
    max-width: 500px;
    color: #727272;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
}
.main-right__btn{
    padding: 20px 23px;
    display: block;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 1.6px;
    background: #34547A;
}
/* ----------------- */

/* about me */
.aboutme-bg{
    background: #F9F9F9;
    padding: 70px 0;
}

.aboutme{
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    text-align: center;
}

.h2{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
}
/* ----------------- */

/* project */
.project-bg{
    background: #34547A;
}

.project{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.project img{
    width: 50px;
    height: 50px;
}

.project__block{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.project-h3{
    color: #FFF;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 500;
}

.project-p{
    color: #FFF;
    font-family: Roboto;
    line-height: 1.6;
    font-size: 16px;
}
/* --------------- */

/* skills */

.skills-bg{
    background: #F9F9F9;
}

.skills{
    display: flex;
    justify-content: space-between;
}

.skills-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 200px;
}

.skills-left p{
    color: #727272;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%;
}

.skills-right{
    width: 555px;
    height: 450px;
    margin-top: 100px;
    margin-left: 15px;
    margin-bottom: 100px;
}

.skills-left h2{
    color: #000;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 30px;
}

::-webkit-progress-bar {
    background-color: #C4C4C4;
}

::-webkit-progress-value {
    background-color: #34547A;
}

progress{
    width: 445px;
    height: 4px;
}
/* ------------- */




/* images */

.container-images{
    background: #F9F9F9;
    margin-top: 28px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.images-item{
    position: relative;
}

.images-item:hover:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #34547ACC;
    background-image: url('../img/view.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* microsoft */

.microsoft{
    background: #F9F9F9;
}

.flex{
    display: flex;
    gap: 30px;
    padding-top: 70px;
    padding-bottom: 100px;
}

/* last block */

.last{
    background: #EEEFF1;
    padding-top: 40px;
}

.last-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.first-input{
    display: flex;
    gap: 30px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 164.063%;
    font-weight: 400;
}

#input-1{
    width: 255px;
    height: 50px;
    background: #FFFFFF;
    padding-left: 20px;
}

#input-2{
    width: 255px;
    height: 50px;
    background: #FFFFFF;
    padding-left: 20px;
}

#textarea{
    width: 540px;
    height: 175px;
    background: #FFFFFF;
    padding-left: 20px;
    padding-top: 17px;
    resize: none;
    margin-bottom: -30px;
}

.btn{
    margin: 50px 0;
}

/* footer */

.footer{
    background: #34547A;
}

.last-container{
    max-width: 1150px;
    max-height: 150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.ivan{
    margin-top: 50px;
    margin-bottom: 50px;
}

.ivan h3{
    color: #FFF;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 500;
}

.ivan p{
    color: #FFF;
    font-size: 13px;
    font-family: Roboto;
    line-height: 164.063%;
    font-weight: 400;
    margin-top: 20px;
}

.vk{
    margin-top: 56px;
}

@media (max-width:1200px){
    .container{
        max-width: 970px;
    }
    .header-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flex img{
        width: 50%;
        height: 50%;
    }
    iframe{
        width: 90%;
        height: 50%;
    }
}

@media (max-width:1324px){
    .last-container{
        width: 75%;
        height: 75%;
    }
}

@media(max-width:1060px){
    .container-skills{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .container-project{
        height: 80%;
        width: 90%;
    }
}

@media (max-width:992px){
    .container{
        max-width: 750px;
    }
    .container-project{
        display: flex;
        flex-direction: column;
        width:75%;
        justify-content: space-between;
        align-items: center;
    }
    .navbar{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:767px){
    .container{
        max-width: none;
    }
}